venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.env
.flaskenv
instance/
.pytest_cache/
.coverage
htmlcov/
.tox/
build/
dist/
*.egg-info/
*.egg
database/*.db
!database/.gitkeep
uploads/food/*
!uploads/food/.gitkeep
uploads/profiles/*
!uploads/profiles/.gitkeep
uploads/verification/*
!uploads/verification/.gitkeep
